
.btn-icons {
    background-color: unset;
    border: 0px;
    color: #57267A;
    font-size: 16px;
    padding: 0px 6px;
    margin-left: 20px;
    transition: 0.4s;
    cursor: pointer;
  
    &:hover,
    &:focus {
      color: #E2225E;
      transform: scale(1.1);
    }
  }

.logo {
    a {
        img {
            width:200px;
        }
    }
}

.header-area {
    box-shadow: 0 0 10px #1a1a1a26;
}

.div-menu-home {
    padding-left: 0px !important;
}

.btn-app {
    background: #57267A;
    font-family: 'Outfit',sans-serif;
    text-transform: uppercase;
    padding: 18px 24px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    border: 2px solid #fff;
    border-radius: 30px;
    -moz-user-select: none;
    letter-spacing: normal;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    &:hover {
        background: #E2225E;
    } 
}