//! Header left right padding
// Font Family
$font_1 :'Poppins', sans-serif;  //Heading Font
$font_2 :'Poppins', sans-serif;  //Body Font 
// $font_3 :'Muli', sans-serif;   //special fonts
//Colors
$white: #ffffff;
$black: #000;
$gray:#f7f7fd;

// font-color
$heading-color:#0D210B;
$heading_color2: #242b5e;

//Theme color
// $theme-color: #5AAC4E;
$theme-color: #57267A;
$theme-color2: #1f2b7b;
$theme-color3: #f27420;
$theme-color4: #ff3500;

// Body Font
$body-text-color: #0D210B;
$hr-border-color:#eceff8;

// font color
$font-color1: #234821;
$border_color: #fdcb9e;


// btn and Section color
$btn_bg: #234821;

// Section Bg
$section_bg1: #454545;



/*--------------- ---- Responsive --------------------------*/

$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';
// Extra Responsive

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab: '(max-width: 991px)';
$tab2: '(max-width: 1199px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$big_screen2:'only screen and (min-width: 1200px) and (max-width: 1300px)';
$big_screen3:'only screen and (min-width: 1441px) and (max-width: 1500px)';
$big_screen4:'only screen and (min-width: 1501px) and (max-width: 1750px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';


// More Extra Responsive
$large_device_2:'(min-width: 1501px) and (max-width: 1700px)';
$mid_device:'(min-width: 992px) and (max-width: 1200px)';
$tablet_device:'(min-width: 768px) and (max-width: 991px)';
$mobile_device:'(max-width: 767px)';
$large_mobile:'only screen and (min-width: 480px) and (max-width: 767px)';

// Custom
$large1:'only screen and (min-width: 1200px) and (max-width: 1360px)';
$large2:'(min-width: 1200px) and (max-width: 1500px)';
$large3:'only screen and (min-width: 1601px) and (max-width: 1800px)';

//! Header left right padding
.header-area {
.main-header {
    &.main-header2{
        padding: 0;
    }
    padding: 0px 35px;
    @media #{$laptop}{
        padding: 0px 30px;
    }
    @media #{$lg}{
        padding: 0px 15px;
    }
    // mobile menu show
    @media #{$md}{
        padding: 19px 24px;
     }
    @media #{$sm}{
        padding: 19px 20px;
     }
    @media #{$xs}{
        padding: 19px 0px;
     }
     .main-menu2 ul li:first-child a{
        padding-left: 0;
     }
     .main-menu2 ul li a{
        @media #{$md}{
            padding: 17px 20px !important;
         }
        @media #{$sm}{
            padding: 17px 20px !important;
         }
        @media #{$xs}{
            padding: 17px 20px !important;
         }
     }
    //!  Menu
     .main-menu{
        @media #{$laptop}{
           margin-right: 30px;
        }
        ul{
            li{
                display: inline-block;
                position: relative;
                z-index: 1;

                a{
                    color: #112957;
                    font-weight: 400;
                    padding: 29px 27px;
                    display: block;
                    font-size: 16px;
                    // @include transition(.3s);
                    text-transform: capitalize;
                    position: relative;
                    font-family: $font_1;
                    text-decoration: underline #fff transparent;
                    @media #{$lg}{
                        padding: 29px 15px;
                    }
                }
                &:hover{
                    & > a{
                        color:$theme-color;
                        text-decoration: underline;
                    }
                }
            }
            ul.submenu{
                position: absolute;
                width: 170px;
                background: rgba(255, 255, 255, 0.9);
                left: 0;
                top: 80%;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                padding: 17px 0;
                // border-top: 5px solid $theme-color;
                // @include transition(.3s);
                & > li{
                    margin-left: 7px;
                    display: block;
                    & > a{
                        padding: 6px 10px !important;
                        font-size: 16px;
                        text-transform: capitalize;
                        margin: 0;
                        &:hover{
                            color:$theme-color;
                            background: none;
                        }
                    }
                } 
            }
        }
    }
}
}

//! SubMenu Hover
.header-area .main-menu ul ul.submenu > li > a:hover {
    padding-left: 13px !important;
}
.header-area .main-menu ul > li:hover > ul.submenu {
visibility: visible;
opacity: 1;
top: 100%;
}

//! Transparent Header
.header-transparent {
position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 9;
}

//! header Sticky  & Responsive
.header-sticky{
    &.sticky-bar{
        // background: rgb(0, 0, 0);
        &.sticky {
            .main-menu{
                ul {
                    li{
                        a {
                            padding: 20px 20px !important;
                        }
                    }
                }
            }
            // Small device sticky show padding
            @media #{$md}{
                padding: 15px 0px;
            }
            @media #{$sm}{
                padding: 15px 0px;
            }
            @media #{$xs}{
                padding: 15px 0px;
            } 
        }
    }
}

//! Mobile Menu
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        .slicknav_btn {
            top: -34px;
            // mobile Menu button color
            .slicknav_icon-bar {
                background-color: $theme-color !important;
            }
        }
        .slicknav_nav{
            margin-top: 13px !important;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            a:hover {
                background: transparent;
                color: $theme-color;
            }
            a {
                font-size: 15px;
                padding: 7px 10px;
            }
            // Dropdown Menu button Padding None
        .slicknav_item a {
                padding: 0 !important;
            }
        }
    }
}


.btn-icons {
    background-color: unset;
    border: 0px;
    color: #57267A;
    font-size: 16px;
    padding: 0px 6px;
    margin-left: 20px;
    transition: 0.4s;
    cursor: pointer;
  
    &:hover,
    &:focus {
      color: #E2225E;
      transform: scale(1.1);
    }
  }

.logo {
    a {
        img {
            width:200px;
        }
    }
}

.header-area {
    box-shadow: 0 0 10px #1a1a1a26;
}

.div-menu-home {
    padding-left: 0px !important;
}