<footer>
    <div class="div-footer">
        <div class="row">
            <div class="col-md-4">
                <div class="div-logo">
                    <div><img src="assets/img/logo/parvathylogo.png" alt=""></div>
                    <p>Parvathy Home Health Care Services takes pride in its proficient and expert team dedicated to delivering personalized home healthcare in Chennai.</p>
                </div>
                <div class="div-contact">
                    <p><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i> +91 95001 67222</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@parvathyhomecare.com</p>
                    <p><i class="fa fa-crosshairs" aria-hidden="true"></i> www.parvathyhomecare.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>