<footer>
    <div class="div-footer">
        <div class="row">
            <div class="col-md-4">
                <div class="div-logo">
                    <div><img src="assets/img/logo/parvathylogo.png" alt=""></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="div-contact">
                    <p><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i> 000 - 000 - 00000</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@parvathy.com</p>
                    <p><i class="fa fa-crosshairs" aria-hidden="true"></i> www.parvathy.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>