<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Home Nurse Visit</h2>
                    </div>
                    <div class="col-md-9">
                        <p>Experience nursing home care right in the comfort of your home, with a professional nurse proficient in both medical and non-medical services. In-home nursing, provided by Parvathy Home Care Services, mirrors the care delivered in hospitals, tailored to your needs.Our commitment to quality and compassionate healthcare ensures patients receive the specific nursing and care they require. The expertise of our nurses and caregivers is adapted to the patient's condition and the necessary medical or non-medical procedures.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>At Parvathy Home Care Services, our specialized nurses, nursing assistants, and caretakers are skilled, dependable, and affordable, providing unwavering care around the clock. Our home nursing services offer comprehensive care for patients recovering or receiving treatment at home, staffed by trained nurses 24/7. Advanced and specialized nurses at Parvathy possess B.Sc. Nursing Degrees or GNM Diplomas, making them highly qualified to care for critically ill and bedridden patients.</p>
            <p>They excel in attending to patients with Alzheimer’s, dementia, and post-operative needs, including specialized post-delivery care for new mothers. These nurses are well-equipped to handle various medical procedures such as Colostomy, Tracheostomy, Ryle’s Tube feed, PEG feed, BIPAP, intravenous injections, and other critical care at home. Our nursing assistants have completed 2-year Nursing Diploma courses and are proficient in basic patient care, including administering oral medications, dressing, feeding via Ryle’s Tube, and subcutaneous injections like insulin.</p>
            <!-- <p>Our nursing assistants have completed 2-year Nursing Diploma courses and are proficient in basic patient care, including administering oral medications, dressing, feeding via Ryle’s Tube, and subcutaneous injections like insulin.</p>
            <p>Caregivers at Parvathy Home Care Services are trained in fundamental patient care and hold course completion certificates. They skillfully manage essential tasks such as personal hygiene, assisted mobility, exercise support, meal assistance, oral medication administration, and aiding patients with elimination needs.</p>
            <p>Additionally, our Nurse-On-Visit service provides on-call nurses trained to monitor vital signs, collect samples, change diapers, and conduct procedures like bladder wash and enemas. They are also proficient in using nebulizers, administering intravenous and intramuscular injections, and catheterization.</p>
            <p>Choose Parvathy Home Care Services for comprehensive and compassionate in-home healthcare tailored to your specific needs.</p> -->
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The benefits of Regular Home Visits by a Nurse from Parvathy Home Care Services include</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Saving money,</p>
                            <p>time, and effort</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Avoiding the inconvenience</p>
                            <p>of moving patients</p>
                            <p>to a hospital or clinic</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Enjoying hassle-free checkups,</p>
                            <p>even with limited mobility</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Receiving personalized</p>
                            <p>attention from the nurse for</p>
                            <p>an extended duration</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Scheduling visits</p>
                            <p>at a convenient time</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>nurse to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            To have a Home Nurse visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Parvathy Homecare Nurses?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Caregivers at Parvathy Home Care</p>
                            <p>Services are trained in</p>
                            <p>fundamental patient care and</p>
                            <p>hold course completion certificates.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>They skillfully manage essential</p>
                            <p>tasks such as personal hygiene,</p>
                            <p>assisted mobility, exercise support,</p>
                            <p>meal assistance, oral medication administration.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>on-call nurses trained to monitor</p>
                            <p>vital signs, collect samples,</p>
                            <p>change diapers, and conduct procedures</p>
                            <p>like bladder wash and enemas.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Services Provided</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Assistance</p>
                            <p>in Daily Living</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Bathing</p>
                            <p>and</p>
                            <p>Feeding</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Sample Collection</p>                            
                            <p>[Blood/Urine]</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Fluid Management</p>
                            <p>& Catheterization</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">                    
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/scar.png" alt="" />
                            <p>Wound Inspection</p>
                            <p>and Dressing</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                            <p>Pulse Rate</p>
                            <p>Monitoring</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/check-up.png" alt="" />
                            <p>Blood Pressure</p>
                            <p>Check</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Respiratory</p>
                            <p>Rate</p>
                            <p>Monitoring</p>
                        </div>
                    </div>                        
                </div>
                <div class="row div-ser-top justify-content-center">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Vital</p>                            
                            <p>Monitoring</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Injections</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
