<div class="div-home">
    <div class="row">
        <div class="col-md-5">
            <div class="div-add-banner"></div>
        </div>
        <div class="col-md-7">
            <h2>Doctor's Visit</h2>
            <p>
                In today's fast-paced world, it's increasingly crucial to prioritize your health. Regular check-ups are essential for individuals of all ages. Unexpectedly, you may find yourself in need of a doctor's expertise for conditions like fevers, illnesses, or chronic ailments. Delaying a doctor's visit can heighten the risks associated with a health issue and may lead to complications necessitating a hospital stay. The best and easiest way to mitigate this is to act promptly when symptoms arise. If leaving the comfort of your familiar surroundings to visit a clinic or hospital presents challenges, consider Parvathy Home Care Services, where doctors come to you.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <p>Research has demonstrated that patients recover faster in a familiar environment, as opposed to a hospital setting. Parvathy Home Care Services offers physician services for individuals dealing with health issues who struggle to access a doctor's office or are bedridden. This entails the visitation of an experienced doctor to the patient's home, either on a regular basis or in emergencies.</p>
        </div>
        <div class="col-md-12">
            <p>During the first visit, the physician assesses the patient's condition, reviews their treatment plan, examines lab reports, medications, past care, and monitors their progress. Subsequently, based on the patient's condition, the doctor provides immediate care, arranges consultations with qualified specialists, or recommends hospitalization if necessary.</p>
        </div>
        <div class="col-md-12">
            <p>Parvathy Home Care Services' general physicians are available for emergency visits and consultations around the clock, providing expert guidance that can alleviate patient discomfort and reduce family anxiety. Regular physician visits ensure timely check-ups and comprehensive monitoring, ensuring the patient's condition remains stable or their recovery is on track.</p>
        </div>
        <div class="col-md-12">
            <p>The benefits of Regular Home Visits by a General Physician from Parvathy Home Care Services include:</p>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Saving money, time, and effort</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Avoiding the inconvenience of moving patients to a hospital or clinic</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Enjoying hassle-free checkups, even with limited mobility</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Receiving personalized attention from the doctor for an extended duration</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Scheduling visits at a convenient time</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Engaging with the doctor to discuss the patient's health status</li>
            </ul>
            <p>To have a General Physician visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Additional information about our doctors:</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Doctors at Parvathy Home Care Services typically have nearly 5 years of clinical experience on average.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Each doctor is closely supervised by an experienced specialist or senior doctor.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Every doctor affiliated with Parvathy Home Care Services is a registered member of a recognized accreditation body, the Indian Medical Association (IMA).</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Services Provided:</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Online video consultation with doctors</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Home Consultation</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Diagnosis and Treatment of Illness (es)</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Assessment of Wound/Surgical Site and Dressing</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Removal of Sutures, Stitches and Staples</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Periodic Check-Up</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Postoperative Check-Up</li>
            </ul>
        </div>
        
    </div>
    
</div>
