<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Doctor's Visit</h2>
                    </div>
                    <div class="col-md-9">
                        <p>In today's fast-paced world, it's increasingly crucial to prioritize your health. Regular check-ups are essential for individuals of all ages. Unexpectedly, you may find yourself in need of a doctor's expertise for conditions like fevers, illnesses, or chronic ailments. Delaying a doctor's visit can heighten the risks associated with a health issue and may lead to complications necessitating a hospital stay. The best and easiest way to mitigate this is to act promptly when symptoms arise. If leaving the comfort of your familiar surroundings to visit a clinic or hospital presents challenges, consider Parvathy Home Care Services, where doctors come to you.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Research has demonstrated that patients recover faster in a familiar environment, as opposed to a hospital setting. Parvathy Home Care Services offers physician services for individuals dealing with health issues who struggle to access a doctor's office or are bedridden. This entails the visitation of an experienced doctor to the patient's home, either on a regular basis or in emergencies.</p>
                        <p>During the first visit, the physician assesses the patient's condition, reviews their treatment plan, examines lab reports, medications, past care, and monitors their progress. Subsequently, based on the patient's condition, the doctor provides immediate care, arranges consultations with qualified specialists, or recommends hospitalization if necessary.</p>
                        <p>Parvathy Home Care Services' general physicians are available for emergency visits and consultations around the clock, providing expert guidance that can alleviate patient discomfort and reduce family anxiety. Regular physician visits ensure timely check-ups and comprehensive monitoring, ensuring the patient's condition remains stable or their recovery is on track.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The benefits of Regular Home Visits by a General Physician from Parvathy Home Care Services include</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Saving money,</p>
                            <p>time, and effort</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Avoiding the inconvenience</p>
                            <p>of moving patients to a</p>
                            <p>hospital or clinic</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Enjoying hassle-free checkups,</p>
                            <p>even with limited mobility</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Receiving personalized</p>
                            <p>attention from the doctor for</p>
                            <p>an extended duration</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Scheduling visits at</p>
                            <p>a convenient time</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>doctor to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            To have a General Physician visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Additional information about our doctors</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Doctors at Parvathy Home Care</p>
                            <p>Services typically have nearly</p>
                            <p>5 years of clinical experience</p>
                            <p>on average.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Each doctor is closely supervised</p>
                            <p>by an experienced specialist</p>
                            <p>or senior doctor.</p>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Every doctor affiliated</p>
                            <p>with Parvathy Home Care Services is a</p>
                            <p>registered member of a recognized</p>
                            <p>accreditation body,</p>
                            <p>the Indian Medical Association (IMA).</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Services Provided</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Online video</p>
                            <p>consultation with</p>
                            <p>doctors</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Home</p>
                            <p>Consultation</p>                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Diagnosis and</p>
                            <p>Treatment</p>
                            <p>of Illness (es)</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Assessment of</p>
                            <p>Wound/Surgical Site</p>
                            <p>and Dressing</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p>Removal of Sutures,</p>
                                    <p>Stitches and Staples</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p>Periodic</p>
                                    <p>Check-Up</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Postoperative</p>
                                    <p>Check-Up</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3" *ngFor="let product of productList">
                        <div class="div-new-item">
                            <img src={{product.image}} />
                            <div class="div-offer">-10%</div>
                            <h3>{{product.name}}</h3>
                            <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                            <div>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <button type="button" class="btn-cart" (click)="viewProduct(product)">VIEW</button>
                            <app-razorpay [productData]="product"></app-razorpay>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-5">
            <div class="div-add-banner"></div>
        </div>
        <div class="col-md-7">
            <h2>Doctor's Visit</h2>
            <p>
                In today's fast-paced world, it's increasingly crucial to prioritize your health. Regular check-ups are essential for individuals of all ages. Unexpectedly, you may find yourself in need of a doctor's expertise for conditions like fevers, illnesses, or chronic ailments. Delaying a doctor's visit can heighten the risks associated with a health issue and may lead to complications necessitating a hospital stay. The best and easiest way to mitigate this is to act promptly when symptoms arise. If leaving the comfort of your familiar surroundings to visit a clinic or hospital presents challenges, consider Parvathy Home Care Services, where doctors come to you.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <p>Research has demonstrated that patients recover faster in a familiar environment, as opposed to a hospital setting. Parvathy Home Care Services offers physician services for individuals dealing with health issues who struggle to access a doctor's office or are bedridden. This entails the visitation of an experienced doctor to the patient's home, either on a regular basis or in emergencies.</p>
        </div>
        <div class="col-md-12">
            <p>During the first visit, the physician assesses the patient's condition, reviews their treatment plan, examines lab reports, medications, past care, and monitors their progress. Subsequently, based on the patient's condition, the doctor provides immediate care, arranges consultations with qualified specialists, or recommends hospitalization if necessary.</p>
        </div>
        <div class="col-md-12">
            <p>Parvathy Home Care Services' general physicians are available for emergency visits and consultations around the clock, providing expert guidance that can alleviate patient discomfort and reduce family anxiety. Regular physician visits ensure timely check-ups and comprehensive monitoring, ensuring the patient's condition remains stable or their recovery is on track.</p>
        </div>
        <div class="col-md-12">
            <p>The benefits of Regular Home Visits by a General Physician from Parvathy Home Care Services include:</p>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Saving money, time, and effort</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Avoiding the inconvenience of moving patients to a hospital or clinic</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Enjoying hassle-free checkups, even with limited mobility</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Receiving personalized attention from the doctor for an extended duration</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Scheduling visits at a convenient time</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Engaging with the doctor to discuss the patient's health status</li>
            </ul>
            <p>To have a General Physician visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Additional information about our doctors:</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Doctors at Parvathy Home Care Services typically have nearly 5 years of clinical experience on average.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Each doctor is closely supervised by an experienced specialist or senior doctor.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Every doctor affiliated with Parvathy Home Care Services is a registered member of a recognized accreditation body, the Indian Medical Association (IMA).</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Services Provided:</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Online video consultation with doctors</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Home Consultation</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Diagnosis and Treatment of Illness (es)</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Assessment of Wound/Surgical Site and Dressing</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Removal of Sutures, Stitches and Staples</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Periodic Check-Up</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Postoperative Check-Up</li>
            </ul>
        </div>
        
    </div> -->
    
</div>
