.div-about {
    width: 100%;
    // padding: 50px;
    // background-color: #f8f8f8;
    .div-team {
        padding: 50px;
        display:flex;
        // text-align: center;
        justify-content: center;
        h2 {
            color: #57267A;
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        p {
            color: #3a3a3a;
            font-size: 20px;
            margin-bottom: 30px;
            text-align: justify;
        }
    }
    .div-team-box {
        padding: 20px;
        .div-team-card {
            background-color: #57267A;
            border-radius: 20px;
            text-align: center;
            width:100%;
            color: #f8f8f8;
            padding: 30px 0px;
            img {
                width:130px;
                height: 130px;
                border-radius: 50%;
                
            }
            .div-name {
                font-size: 20px;
                margin-top: 20px;
            }
            .div-pos {
                margin-top: 10px;
                font-size: 16px;
            }            
        }
        &.div-cen {
            margin-top: 50%;
        }
    }

    .div-banner {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        background-image: url(/assets/img/aboutus/banner2.png);
        height:100vh;        
    }
    .div-team {
        padding: 5% 20% 5%;
        .col-md-3 {
            color:#57267A;
            border-right: 2px solid #57267A;
            text-align: right;
            font-size: 5rem;
            font-weight: 500;
        }
        .col-md-9 {
            font-size: 24px;
        }
    }
    .div-leader {
        padding: 3% 10%;
        .col-md-4 {
            text-align: center;
            padding-left: 3%;
            padding-right: 3%;
            p {
                color:#57267A;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 0px;
                margin-top: 20px;
            }
            span {
                font-size: 22px;
                color: #b1b1b1;
                margin-bottom: 20px;
            }
            .div-leader-box {
                border: 3px solid #b1b1b1;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                padding-bottom: 20px;
                img {
                    margin-top: -20%;
                }
            }
        }
    }
}