<div class="div-about">
    <ng-container>
        <div class="row m0">
            <div class="col-md-12 p0">
                <div class="div-banner">
                    
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-team">
            <div class="row">
                <div class="col-md-3">
                    Our Team
                </div>
                <div class="col-md-9">
                    Parvathy Home Health Care Services takes pride in its proficient and expert team dedicated to delivering personalized home healthcare in Chennai. Guided by our experienced Directors, our team members work diligently to ensure that our clients receive top-tier medical care in the comfort of their own homes.
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-leader">
            <div class="row">
                <div class="col-md-4">
                    <div class="div-leader-box">
                        <img src="/assets/img/aboutus/leader.png" />
                        <p>Mr. Amuthan Rajkumar</p>
                        <span>Management</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row d-none">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-team-box">
                        <div class="div-team-card">
                            <div class="div-img">
                                <img src="/assets/img/team/team2.jpg" />
                            </div>
                            <div class="div-name">
                                Mr Amuthan Rajkumar
                            </div>
                            <div class="div-pos">
                                Management
                            </div>
                        </div>
                    </div>

                    <div class="div-team-box mt-3">
                        <div class="div-team-card">
                            <div class="div-img">
                                <img src="/assets/img/team/team2.jpg" />
                            </div>
                            <div class="div-name">
                                Mr Ramesh
                            </div>
                            <div class="div-pos">
                                Management
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-team-box div-cen">
                        <div class="div-team-card">
                            <div class="div-img">
                                <img src="/assets/img/team/team1.jpg" />
                            </div>
                            <div class="div-name">
                                Dr Vijaya
                            </div>
                            <div class="div-pos">
                                Clinical Staff
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="div-team">
                <div>
                    <h2>Our Team</h2>
                    <p>Parvathy Home Health Care Services takes pride in its proficient and expert team dedicated to delivering personalized home healthcare in Chennai. Guided by our experienced Directors, our team members work diligently to ensure that our clients receive top-tier medical care in the comfort of their own homes.</p>    
                </div>
            </div>
        </div>
    </div>
</div>
