<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Doctor's Visit</h2>
                    </div>
                    <div class="col-md-9">
                        <p>In today's fast-paced world, it's increasingly crucial to prioritize your health. Regular check-ups are essential for individuals of all ages. Unexpectedly, you may find yourself in need of a doctor's expertise for conditions like fevers, illnesses, or chronic ailments. Delaying a doctor's visit can heighten the risks associated with a health issue and may lead to complications necessitating a hospital stay. The best and easiest way to mitigate this is to act promptly when symptoms arise. If leaving the comfort of your familiar surroundings to visit a clinic or hospital presents challenges, consider Parvathy Home Care Services, where doctors come to you.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Research has demonstrated that patients recover faster in a familiar environment, as opposed to a hospital setting. Parvathy Home Care Services offers physician services for individuals dealing with health issues who struggle to access a doctor's office or are bedridden. This entails the visitation of an experienced doctor to the patient's home, either on a regular basis or in emergencies.</p>
                        <p>During the first visit, the physician assesses the patient's condition, reviews their treatment plan, examines lab reports, medications, past care, and monitors their progress. Subsequently, based on the patient's condition, the doctor provides immediate care, arranges consultations with qualified specialists, or recommends hospitalization if necessary.</p>
                        <p>Parvathy Home Care Services' general physicians are available for emergency visits and consultations around the clock, providing expert guidance that can alleviate patient discomfort and reduce family anxiety. Regular physician visits ensure timely check-ups and comprehensive monitoring, ensuring the patient's condition remains stable or their recovery is on track.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The benefits of Regular Home Visits by a General Physician from Parvathy Home Care Services include</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Saving money,</p>
                            <p>time, and effort</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Avoiding the inconvenience</p>
                            <p>of moving patients to a</p>
                            <p>hospital or clinic</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Enjoying hassle-free checkups,</p>
                            <p>even with limited mobility</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Receiving personalized</p>
                            <p>attention from the doctor for</p>
                            <p>an extended duration</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Scheduling visits at</p>
                            <p>a convenient time</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>doctor to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            To have a General Physician visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Additional information about our doctors</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Doctors at Parvathy Home Care</p>
                            <p>Services typically have nearly</p>
                            <p>5 years of clinical experience</p>
                            <p>on average.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Each doctor is closely supervised</p>
                            <p>by an experienced specialist</p>
                            <p>or senior doctor.</p>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Every doctor affiliated</p>
                            <p>with Parvathy Home Care Services is a</p>
                            <p>registered member of a recognized</p>
                            <p>accreditation body,</p>
                            <p>the Indian Medical Association (IMA).</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Services Provided</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Online video</p>
                            <p>consultation with</p>
                            <p>doctors</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Home</p>
                            <p>Consultation</p>                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Diagnosis and</p>
                            <p>Treatment</p>
                            <p>of Illness (es)</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Assessment of</p>
                            <p>Wound/Surgical Site</p>
                            <p>and Dressing</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p>Removal of Sutures,</p>
                                    <p>Stitches and Staples</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p>Periodic</p>
                                    <p>Check-Up</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Postoperative</p>
                                    <p>Check-Up</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Lab Test at Home</h2>
            <p>At Parvathy Home Care, we recognize the importance of accurate and timely diagnostic lab tests in healthcare. Our comprehensive laboratory testing services are designed to provide you with precise results in a convenient and comfortable setting.</p>
            <p>Whether you require routine checkups, specialized tests, or post-treatment monitoring, our state-of-the-art laboratory facilities and experienced professionals are here to meet your diagnostic needs.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Our Lab Testing Services</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Blood Tests:</span> Comprehensive blood screenings for various health parameters, including cholesterol levels, glucose, and more.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Pathology Tests:</span> Evaluation of tissue, fluid, and cell samples to diagnose diseases and conditions.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Urinalysis:</span> Examination of urine samples to assess kidney function, detect infections, and monitor overall health.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Imaging Services:</span> Radiology and imaging services, including X-rays, MRIs, and CT scans.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Specialized Tests:</span> Targeted tests for specific health concerns, such as cancer markers, hormonal imbalances, and genetic testing.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Post-Treatment Monitoring:</span> Follow-up tests to track your progress after medical treatments and surgeries.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Wellness Panels:</span> Customized health checkup panels to assess your overall well-being.</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Benefits of Lab Tests with Parvathy Home Care</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>100% Accurate Diagnosis:</span> Our precise testing ensures that you receive an accurate diagnosis for informed medical decisions.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Convenience:</span> Save time and effort with our at-home lab testing services, eliminating the need for hospital or clinic visits.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Timely Results:</span> Rapid turnaround times mean you get your results faster, allowing for prompt medical action when needed.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Professional Care:</span> Our team of experienced professionals is dedicated to providing you with the best care during your lab tests.</li>                
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <p>Schedule Your Lab Tests with Parvathy Home Care</p>
            <p>Ensuring your health is our priority, and we are committed to delivering reliable lab test results to support your well-being. Contact Parvathy Home Care today to schedule your lab tests or to learn more about our comprehensive laboratory testing services.</p>
        </div>
    </div>
</div>