<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Lab Tests at the comfort of home</h2>
                    </div>
                    <div class="col-md-9">
                        <p>Convenience and accessibility are paramount in prioritizing one's health. With home lab tests offered at Parvathy Home Care, we bring diagnostics to the doorstep. By facilitating lab tests at home, individuals can avoid the hassle of travel and long wait times at clinics. This approach is particularly beneficial for those with mobility issues, busy schedules, or a preference for privacy. Home lab tests provide a quick and comfortable way to monitor health, ensuring timely detection of potential issues and enabling individuals to take proactive steps towards their well-being within the familiar environment of their homes.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>At Parvathy Home Care, we recognize the importance of accurate and timely diagnostic lab tests in healthcare. Our comprehensive laboratory testing services are designed to provide you with precise results in a convenient and comfortable setting.  Whether you require routine checkups, specialized tests, or post-treatment monitoring, our state-of-the-art laboratory facilities and experienced professionals are here to meet your diagnostic needs.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">Benefits of Lab Tests with Parvathy Home Care</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p><strong>100% Accurate Diagnosis:</strong>Our precise</p>
                            <p>testing ensures that you receive</p>
                            <p>an accurate diagnosis for</p>
                            <p>informed medical decisions.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p><strong>Convenience: </strong>Save time</p>
                            <p>and effort with our at-home</p>
                            <p>lab testing services,</p>
                            <p>eliminating the need for</p>
                            <p>hospital or clinic visits.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p><strong>Timely Results: </strong>Rapid turnaround</p>
                            <p>times mean you get your</p>
                            <p>results faster, allowing</p>
                            <p>for prompt medical</p>
                            <p>action when needed.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Receiving personalized</p>
                            <p>attention from the doctor for</p>
                            <p>an extended duration</p>
                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p><strong>Professional Care: </strong>Our team of</p>
                            <p>experienced professionals is</p>
                            <p>dedicated to providing</p>
                            <p>you with the best care</p>
                            <p>during your lab tests.</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>doctor to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            Schedule Your Health Checkup with Parvathy Home Care, Today
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Choose Parvathy Home Care ?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p><strong>Personalized Approach: </strong>We believe that</p>
                            <p>healthcare should be tailored</p>
                            <p>to your specific needs. Our</p>
                            <p>health checkup packages are</p>
                            <p>designed to address your</p>
                            <p>individual health concerns and goals.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p><strong>Convenience: </strong>No need to</p>
                            <p>travel to a clinic or hospital.</p>
                            <p>Our skilled medical professionals</p>
                            <p>bring the health checkup to your</p>
                            <p>doorstep, providing you with</p>
                            <p>the utmost convenience.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p><strong>Comprehensive Screening: </strong>We offer a wide</p>
                            <p>range of health checkup packages,</p>
                            <p>covering various aspects of your</p>
                            <p>health, including general</p>
                            <p>wellness, cardiac health,</p>
                            <p>diabetes management, and more.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p><strong>Advanced Technology: </strong>Parvathy Home Care</p>
                            <p>is equipped with state-of-the-art</p>
                            <p>diagnostic equipment,</p>
                            <p>ensuring accurate and</p>
                            <p>reliable results.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p><strong>Experienced Team: </strong>Our healthcare</p>
                            <p>professionals are experienced and</p>
                            <p>compassionate, providing you</p>
                            <p>with the best care during</p>
                            <p>your health checkup.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="div-add-info-foo">To have a Lab test at your home or your loved one's home, simply call or schedule an appointment for an in-home visit.</div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div> -->
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">Additional information about our sample collection Team</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Our sample collection team at</p>
                            <p>Parvathy Home Care Services</p>
                            <p>typically have nearly 5 years of</p>
                            <p>clinical experience on average.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Each Team is closely supervised</p>
                            <p>by an experienced specialist</p>
                            <p>or Clinical Manager.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Every Team affiliated with</p>
                            <p>Parvathy Home Care Services</p>
                            <p>is trained by the experts</p>
                            <p>of Parvathy Hospital.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Our Lab Testing Services</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p><strong>Blood Tests: </strong>Comprehensive blood</p>
                            <p>screenings for various health</p>
                            <p>parameters, including cholesterol</p>
                            <p>levels, glucose, and more.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p><strong>Pathology Tests: </strong>Evaluation of tissue,</p>
                            <p>fluid, and cell samples to</p>
                            <p>diagnose diseases and conditions.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p><strong>Urinalysis: </strong>Examination of</p>
                            <p>urine samples to assess</p>
                            <p>kidney function, detect infections,</p>
                            <p>and monitor overall health.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p><strong>Imaging Services: </strong>Radiology and</p>
                            <p>imaging services, </p>
                            <p>including X-rays,</p>
                            <p>MRIs, and CT scans.</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p><strong>Specialized Tests: </strong>Targeted tests for</p>
                                    <p>specific health concerns, such as</p>
                                    <p>cancer markers, hormonal </p>
                                    <p>imbalances, and genetic testing.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p><strong>Post-Treatment Monitoring: </strong>Follow-up</p>
                                    <p>tests to track your progress</p>
                                    <p>after medical treatments</p>
                                    <p>and surgeries.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p><strong>Wellness Panels: </strong>Customized health</p>
                                    <p>checkup panels to assess</p>
                                    <p>your overall well-being.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3" *ngFor="let product of productList">
                        <div class="div-new-item">
                            <img src={{product.image}} />
                            <div class="div-offer">-10%</div>
                            <h3>{{product.name}}</h3>
                            <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                            <div>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <button type="button" class="btn-cart" (click)="viewProduct(product)">VIEW</button>
                            <app-razorpay [productData]="product"></app-razorpay>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>