<div class="div-about">
    <ng-container>
        <div class="row m0">
            <div class="col-md-12 p0">
                <div class="div-banner">
                    <div class="row align-items-center ht100 m0">
                        <div class="col-md-2"></div>
                        <div class="col-md-4 text-right">
                            <div class="div-head-content">
                                <div class="div-hos">Parvathy</div>
                                <div>Home Care</div>
                                <div>Story</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-sec-one">
            <div class="row">
                <div class="col-md-45">
                    <div class="div-sec-one-banner"></div>
                </div>
                <div class="col-md-55">
                    <div class="div-hands">
                        <h2>Our Dedication to Your Well-being Knows No Bounds</h2>
                        <div></div>
                        <p>At Parvathy Home Care, we've embarked on a remarkable journey, rooted in the unwavering commitment to ensure happy and safe aging for our beloved seniors. In a fast-paced world where the elderly often receive inadequate attention and care, their physical and emotional well-being hangs in the balance.</p>
                        <p>We understand the complexities of today's world and the demands placed on working adults, leaving them with little time to tend to their aging parents. Parvathy Home Care was founded to address these concerns and provide a comprehensive solution.</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-sec-two">
            <div class="row">                
                <div class="col-md-55">
                    <div class="div-nurse">
                        <h2>In-Home Care at Its Best</h2>
                        <div></div>
                        <p>Our commitment to seniors extends beyond our facilities. Parvathy Home Care's home care services ensure that seniors receive top-notch care at the comfort of their own homes. We offer round-the-clock nursing care and prompt doctor visits, all to guarantee their well-being.</p>
                        <p>Our journey began with a single home care client, and through unwavering dedication, we've earned the trust and admiration of thousands of senior citizens across India. Over the last 5 years, we have transformed the lives of over 10,000+ patients, resolving medical complications regardless of their severity, and granting them dignified and independent lives.</p>
                    </div>
                </div>
                <div class="col-md-45">
                    <div class="div-sec-two-banner"></div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-sec-three">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="div-sec-three-head">Why Parvathy Home Care?</div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-20">
                    <div class="div-circle">
                        <div class="div-inner-circle">
                            <div>
                                <div>24x7</div> 
                                <div>Clinical</div>
                                <div>Supervision</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-20">
                    <div class="div-circle">
                        <div class="div-inner-circle pink">
                            <div>
                                <div>Affordable</div> 
                                <div>Services</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-20">
                    <div class="div-circle">
                        <div class="div-inner-circle">
                            <div>
                                <div>Tech-Driven</div> 
                                <div>Care</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-20">
                    <div class="div-circle">
                        <div class="div-inner-circle pink">
                            <div>
                                <div>Customized</div> 
                                <div>Approach</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-20">
                    <div class="div-circle">
                        <div class="div-inner-circle">
                            <div>
                                <div>Hygienic</div> 
                                <div>Services</div>
                                <div>with Utmost</div>
                                <div>Care</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-vision">
            <div class="div-vission-child">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row div-our-visit">
                            <div class="col-md-4 text-right">
                                <h2>Our Vision</h2>
                            </div>
                            <div class="col-md-8">
                                We aspire to become a globally acclaimed home health care organization, committed to facilitating happy, healthy, and safe health care service at home.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row div-mission">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <div class="row div-our-mission">
                            <div class="col-md-8">
                                We are dedicated to meeting the unique needs of our patients by delivering specialized care and support through our innovative approach, always putting their well-being first.
                            </div>
                            <div class="col-md-4">
                                <h2>Our Mission</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-core">
            <div class="row">
                <div class="col-md-5 div-core-head">
                    Our Core Values
                </div>
                <div class="col-md-5 div-core-content">
                    Our core values serve as the guiding principles that shape our interactions, strategies, and relationships
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="div-core-items pink">
                        Customer-Centricity
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-core-items">
                        Team Approach
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-core-items pink">
                        Transparency
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-core-items">
                        Efficiency in Care
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="div-core-items">
                        Quality of Life
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-core-items pink">
                        Integrity
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-core-items">
                        Respect
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-core-items pink">
                        Accountability
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="div-choose">
            <div class="row">
                <div class="col-md-12 text-center">
                    Choose Parvathy Home Care for a brighter, healthier, and more secure future for your loved ones.
                </div>
            </div>
        </div>
    </ng-container>
    <!-- <ng-container>
        <div class="row">
            <div class="col-md-5">
                <div class="div-add-banner one"></div>
            </div>
            <div class="col-md-7">
                <h2>Our Dedication to Your Well-being Knows No Bounds</h2>
                <p>At Parvathy Home Care, we've embarked on a remarkable journey, rooted in the unwavering commitment to ensure happy and safe aging for our beloved seniors. In a fast-paced world where the elderly often receive inadequate attention and care, their physical and emotional well-being hangs in the balance.</p>
                <p>We understand the complexities of today's world and the demands placed on working adults, leaving them with little time to tend to their aging parents. Parvathy Home Care was founded to address these concerns and provide a comprehensive solution.</p>
            </div>
        </div>
    </ng-container> -->
    <!-- <ng-container>
        <div class="row">
            <div class="col-md-7 mt-5">
                <h2>In-Home Care at Its Best</h2>
                <p>Our commitment to seniors extends beyond our facilities. Parvathy Home Care's home care services ensure that seniors receive top-notch care at the comfort of their own homes. We offer round-the-clock nursing care and prompt doctor visits, all to guarantee their well-being.</p>
                <p>Our journey began with a single home care client, and through unwavering dedication, we've earned the trust and admiration of thousands of senior citizens across India. Over the last 5 years, we have transformed the lives of over 10,000+ patients, resolving medical complications regardless of their severity, and granting them dignified and independent lives.</p>                
            </div>
            <div class="col-md-5 mt-5">
                <div class="div-add-banner two"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-5">
                <h2>Why Parvathy Home Care?</h2>
                <ul>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 24x7 Clinical Supervision</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Affordable Services</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Tech-Driven Care</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Customized Approach</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Hygienic Services with Utmost Care</li>
                </ul>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div class="row">
            <div class="col-md-5 mt-5">
                <div class="div-add-banner three"></div>
            </div>
            <div class="col-md-7 mt-5">
                <h2>Our Vision</h2>
                <p>We aspire to become a globally acclaimed home health care organization, committed to facilitating happy, healthy, and safe health care service at home.</p>
                <h2>Our Mission</h2>
                <p>We are dedicated to meeting the unique needs of our patients by delivering specialized care and support through our innovative approach, always putting their well-being first.</p>
            </div>
        </div>
    </ng-container>

    <ng-container>
        <div class="row">           
            <div class="col-md-5 mt-5">
                <h2>Our Core Values</h2>
                <p>Our core values serve as the guiding principles that shape our interactions, strategies, and relationships:</p>
                <ul>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Customer-Centricity</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Team Approach</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Transparency</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Efficiency in Care</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Quality of Life</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Integrity</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Respect</li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Accountability</li>                
                </ul>
                <p>Choose Parvathy Home Care for a brighter, healthier, and more secure future for your loved ones.</p>
            </div>
            <div class="col-md-7 mt-5">
                <div class="div-add-banner four"></div>
            </div>
        </div>
    </ng-container> -->
</div>
