* {
    font-family: Lato;
  }
  
  .modal {
    margin-top: 30px;
    text-align: center;
    height: 100px;
    width: 300px;
    background: red;
    color: #fff;
  }
  
  .btn-cart, .btn-add {
    background: #57267A;
    font-family: 'Outfit',sans-serif;
    text-transform: uppercase;
    padding: 18px 24px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    border: 2px solid #fff;
    border-radius: 30px;
    -moz-user-select: none;
    letter-spacing: normal;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    &:hover {
        background: #E2225E;
    } 
  }
  button {
    background: #57267A;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    padding: 18px 24px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    border: 2px solid #fff;
    border-radius: 30px;
    -moz-user-select: none;
    letter-spacing: normal;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: 0.4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
}
  .btn-add-to-cart {
    width:100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border: 0px;
    padding: 24px 0px;
    cursor: pointer;
    background: #57267A;
    font-family: 'Outfit',sans-serif;
    text-transform: uppercase;
    &:hover {
        letter-spacing: 1px;
    }&.div-service-fixed {
      position:fixed;
      top: 110px;
  }
}