<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Home X-ray/Ultrasound</h2>
                    </div>
                    <div class="col-md-9">
                        <p>Parvathy Homecare recognizes the challenges and risks involved in relocating immobile or bed-ridden family members for diagnostic tests. We offer x-ray and ultrasound diagnostic services directly at your house, ensuring your loved ones can undergo scans without pain or risk.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Our trained technicians conduct x-ray and ultrasound scans in the privacy and convenience of your home, providing high-quality diagnostic services without the need for travel or exposure to external environments.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The Benefits of Radiology Procedures at Home</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Safe x-ray procedures</p>
                            <p>with minimal exposure</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>High-Quality</p>
                            <p>Digital X-Ray</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Same Day</p>
                            <p>Prints/diagnostic results</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Trained</p>
                            <p>Technicians</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Economical and</p>
                            <p>Hassle-Free</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Access to doctor’s</p>
                            <p>second opinions</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            Contact Parvathy Homecare today to schedule x-ray or ultrasound scans at home for your loved ones, or to learn more about our comprehensive diagnostic services.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Choose Parvathy Homecare for Radiology & USG Services?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Avoid queues and</p>
                            <p>commutes with in-home</p>
                            <p>diagnostic services.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Scans conducted in the</p>
                            <p>clean and safe environment</p>
                            <p>of your home.</p>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>State-of-the-art</p>
                            <p>ultrasound equipment</p>
                            <p>for accurate results.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Home X-ray / Ultrasound Services</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Bone Fractures</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Chest X-rays</p>                           
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Joint Problems</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Abdominal X-rays</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot justify-content-center">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/scar.png" alt="" />
                            <p>Abdominal Ultrasounds</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                            <p>Pelvic Ultrasounds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
