<div class="div-home">
    <div class="row">
        <div class="col-md-12">
            <h2>X-ray at Your Home</h2>
            <p>When it comes to relocating your immobile/bed-ridden family member for a diagnostic test, Parvathy Homecare understands the challenges and hazards you encounter.</p>
            <p>We provide x-ray and ultrasound diagnostic services to you at your house. As a result, your care-seeking loved one can undergo diagnostic scans without pain or risk.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Benefits of X-ray at Your Home</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Low-Radiation</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> High-Quality Digital X-Ray</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Same Day Prints</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Trained Technicians, quick and Simple Procedure</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Economical and Hassle-Free</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Doctors’ Consultation or 2nd opinion on X-Ray Reports (as per requirement)</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Ultrasound Scan at Your Home</h2>
            <p>Patients who require an ultrasound scan frequently experience challenges as a result of the scan center's inadequate and filthy infrastructure. Long queues at the center, as well as equally long commutes to get there, compound the situation.</p>
            <p>Parvathy Hoemcare can now help you bid farewell to all such woes.</p>
            <p>You can get scanned in the privacy and convenience of your own home, at a time that is convenient for you. Parvathy Homecare is pleased to provide bed-ridden/immobile family members with home-based ultrasound scan services.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Why Parvathy Homecare Radiology & USG Services?</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Done at Your Home - Hence No Queues, No Commutes.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Hygienic and Safe Environment of Home.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Qualified Sonology-Technicians Trained by Experienced Sonologists.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Modern Ultrasound Equipment.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Quick and Accurate Reports.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Access to Doctor's Consultation / Second Opinion on Scan Report (as per requirement)</li>
            </ul>
        </div>
    </div>
</div>
