<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Medical Equipment Rentals</h2>
                    </div>
                    <div class="col-md-9">
                        <p>At Parvathy Home Care, we understand the essential role that medical equipment plays in ensuring your health and well-being. We offer a comprehensive and convenient medical equipment rental service, providing you with access to a wide range of quality equipment to meet your specific healthcare needs. Our commitment is to make healthcare accessible and comfortable for you, right in the comfort of your own home.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>We bring the necessary medical equipment directly to your doorstep, eliminating the need for you to search for and transport equipment from distant suppliers. Our experienced team provides guidance and instruction on the proper use of the equipment, ensuring you get the most out of it.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The Benefits of Medical Equipment Rentals</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Save your</p>
                            <p>time and effort</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>High quality</p>
                            <p>equipment</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Comprehensive</p>
                            <p>guidance for use</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Personalized Services</p>
                            <p>for all healthcare needs</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Best alternative to</p>
                            <p>purchasing expensive items</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Flexible rental durations</p>
                            <p>without long contracts</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            Contact Parvathy Home Care today to rent your medical equipment or to learn more about our comprehensive equipment rental service.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Parvathy Homecare Medical Equipment Rental Service ?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Highest quality, well-maintained,</p>
                            <p>and thoroughly</p>
                            <p>sanitized equipment.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Instruction on proper</p>
                            <p>use by experienced</p>
                            <p>professionals.</p>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Diverse range tailored</p>
                            <p>to your specific</p>
                            <p>needs and preferences.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Equipments Available</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Wheelchairs</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>CPAP Machines</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Oxygen Concentrators</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Crutches and Walkers</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p>Nebulizers</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p>Blood Pressure Monitors</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Electric Hospital Beds</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <h2>Medical Equipment Rentals</h2>
            <p>At Parvathy Home Care, we understand the essential role that medical equipment plays in ensuring your health and well-being. We offer a comprehensive and convenient medical equipment rental service, providing you with access to a wide range of quality equipment to meet your specific healthcare needs. Our commitment is to make healthcare accessible and comfortable for you, right in the comfort of your own home.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Why Choose Parvathy Home Care for Medical Equipment Rental?</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Convenience:</span> We bring the necessary medical equipment directly to your doorstep, eliminating the need for you to search for and transport equipment from distant suppliers.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Quality and Safety:</span> Our medical equipment is of the highest quality, well-maintained, and thoroughly sanitized to ensure your safety and well-being.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Expert Guidance:</span> Our experienced team provides guidance and instruction on the proper use of the equipment, ensuring you get the most out of it.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Wide Selection:</span> Choose from a diverse range of medical equipment, tailored to your specific needs and preferences.</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Medical Equipment Available To Rent</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Wheelchairs</span>
                    Manual and motorized wheelchairs for mobility assistance.
                    </li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>CPAP Machines</span>
                    Continuous Positive Airway Pressure devices for individuals with sleep apnea.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Oxygen Concentrators</span>
                    Equipment to assist with respiratory conditions and ensure a steady supply of oxygen.
                    </li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Crutches and Walkers</span>
                    Supportive devices to aid mobility during recovery.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Knee Scooters</span>
                    For comfortable movement and mobility after lower leg injuries.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Nebulizers</span>
                    Devices for effective inhalation therapy for respiratory conditions.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Blood Pressure Monitors</span>
                    Accurate monitoring of blood pressure in the comfort of your home.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Electric Hospital Beds</span>
                    Fully adjustable electric hospital beds for enhanced comfort and recovery.</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Additional Medical Equipments</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Bilevel / BiPAP/ NIV - BREAS Vivo 2</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Bilevel / BiPAP/ NIV - BREAS Vivo 3</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Vivo 65 ventilator ( Minimum 4 Days charges applicable )</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Oxygen Concentrator 5 LPM ( Net All Included  )</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Oxygen Concentrator 10 LPM ( Net All Included  )</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 1 Function ABS Manual Cot</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 2 Function ABS Manual Cot</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 3 Function ABS Manual Cot</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 3 Function ABS Remote Cot</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 5 Function ABS Remote Cot ( Kraft )</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> 5 Function ABS Remote Cot ( Janak )</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Patient Monitor</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Bedside Pulse Oximeter  Monitor ( SPO2 alone )</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Infusion Pump</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Syringe Pump</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> SCD PUMP</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Wheelchair - Basic</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Wheelchair - Reclining</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Air Purifier</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Sleep Study - Level 1</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Sleep Study - Level 3</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <p>Contact Parvathy Home Care today to rent your medical equipment or to learn more about our comprehensive equipment rental service.</p>
        </div>
    </div> -->
</div>
