<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Health Checkup at Home</h2>
                    </div>
                    <div class="col-md-9">
                        <p>In the fast-paced world we live in, prioritizing health is essential, and regular health check-ups play a pivotal role in early detection and prevention of potential issues. Opting for health check-ups at home with services like Parvathy Home Care ensures that individuals, especially those facing mobility challenges or other impediments, can access timely medical assessments without leaving the comfort of their familiar surroundings. </p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Home health check-ups eliminate travel-related stress, making it more convenient for individuals to receive comprehensive healthcare services. This approach encourages proactive healthcare, minimizes the risk of delayed diagnoses, and fosters a more patient-friendly experience, ultimately contributing to the overall well-being of individuals within the convenience of their homes. At Parvathy Home Care, we understand that proactive healthcare is the cornerstone of a long and fulfilling life. Our comprehensive health checkup services are designed to cater to individuals of all ages, ensuring that you and your loved ones receive the highest standard of care.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">Benefits of Regular Health Checkups through Parvathy Homecare</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p><strong>Early Detection:</strong></p>
                            <p>Identifying potential health</p>
                            <p>issues before they</p>
                            <p>become serious.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p><strong>Preventive Care:</strong> Taking</p>
                            <p>proactive measures to</p>
                            <p>maintain good health.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p><strong>Peace of Mind: </strong>Knowing</p>
                            <p>that your health is</p>
                            <p>being monitored and cared</p>
                            <p>for by trusted professionals.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Receiving personalized</p>
                            <p>attention from the doctor for</p>
                            <p>an extended duration</p>
                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p><strong>Customized Advice: </strong>Receiving</p>
                            <p>personalized recommendations</p>
                            <p>for a healthier lifestyle.</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>doctor to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            Schedule Your Health Checkup with Parvathy Home Care
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Choose Parvathy Home Care for Health Checkups?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p><strong>Personalized Approach:</strong>We believe that</p>
                            <p>healthcare should be tailored to</p>
                            <p>your specific needs. Our health</p>
                            <p>checkup packages are designed</p>
                            <p>to address your individual</p>
                            <p>health concerns and goals.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p><strong>Convenience:</strong> No need to travel</p>
                            <p>to a clinic or hospital. Our skilled</p>
                            <p>medical professionals bring the</p>
                            <p>health checkup to your doorstep,</p>
                            <p>providing you with the utmost convenience.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p><strong>Comprehensive Screening:</strong> We offer</p>
                            <p>a wide range of health checkup packages,</p>
                            <p>covering various aspects of your health,</p>
                            <p>including general wellness,</p>
                            <p>cardiac health, diabetes management, and more.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p><strong>Advanced Technology: </strong>Parvathy Home Care</p>
                            <p>is equipped with state-of-the-art</p>
                            <p>diagnostic equipment, ensuring</p>
                            <p>accurate and reliable results.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p><strong>Experienced Team: </strong>Our healthcare</p>
                            <p>professionals are experienced and</p>
                            <p>compassionate, providing you with</p>
                            <p>the best care during your</p>
                            <p>health checkup.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="div-add-info-foo">To have a Health check up at your home or your loved one's home, simply call or schedule an appointment for an in-home visit.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Additional information about our sample collection Team</div>
                    </div>
                </div>
                
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p>Our sample collection team at</p>
                                    <p>Parvathy Home Care Services</p>
                                    <p>typically have nearly 5 years</p>
                                    <p>of clinical experience on average.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p>Each Team is closely</p>
                                    <p>supervised by an</p>
                                    <p>experienced specialist or</p>
                                    <p>Clinical Manager.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Every Team affiliated with</p>
                                    <p>Parvathy Home Care Services</p>
                                    <p>is trained by the experts</p>
                                    <p>of Parvathy Hospital.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3" *ngFor="let product of productList">
                        <div class="div-new-item">
                            <img src={{product.image}} />
                            <div class="div-offer">-10%</div>
                            <h3>{{product.name}}</h3>
                            <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                            <div>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <button type="button" class="btn-cart" (click)="viewProduct(product)">VIEW</button>
                            <app-razorpay [productData]="product"></app-razorpay>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
