<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Physiotherapy & Rehab at Home</h2>
                    </div>
                    <div class="col-md-9">
                        <p>As we age, our bodies undergo a natural process of gradual strength and mobility decline, which can lead to various health concerns, depending on our lifestyles. However, with the right expertise and a well-structured physiotherapy plan, you can take proactive steps to ensure that you or your loved ones receive the most tailored and effective care. When you partner with Parvathy Home Care Services, our highly trained and experienced physiotherapists conduct a comprehensive initial assessment in the comfort of your own home. Based on this assessment, they provide expert guidance and initiate therapy as per the patient's unique needs.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Physiotherapy has a proven track record in effectively restoring and enhancing physical strength and mobility. Parvathy Home Care Services makes it convenient for you to receive these essential services within your home environment. Our experienced physiotherapists utilize advanced techniques and portable equipment to offer various forms of therapy, addressing issues such as pain relief, improved strength, posture, motor control, enhanced endurance, gait improvement, and sensory enhancement.</p>
                        <p>Our team of practitioners at Parvathy holds specialized degrees in various fields, including Neurological, Cardio-respiratory, and Musculoskeletal issues. Years of clinical experience equip them to competently address a wide range of challenges faced by you or your loved ones.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The benefits of Regular Home Visits by a Physiotherapists from Parvathy Home Care Services include</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Personalized care plans</p>
                            <p>tailored to the specific</p>
                            <p>needs and conditions of</p>
                            <p>each individual.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Regular home visits improve</p>
                            <p>patient compliance with the</p>
                            <p>prescribed physiotherapy</p>
                            <p>exercises and routines.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Adjustments to treatment plans</p>
                            <p>can be made based on the</p>
                            <p>individual's response to</p>
                            <p>therapy.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Individuals with chronic</p>
                            <p>conditions such as stroke,</p>
                            <p>Parkinson's disease, or multiple</p>
                            <p>sclerosis can get treated at home</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Comprehensive Education for</p>
                            <p>patients and their caregivers</p>
                            <p>on self-management</p>
                            <p>techniques and exercises.</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>doctor to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            To have a Physiotherapist visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Parvathy Homecare?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Stands out with a commitment </p>
                            <p>to delivering exceptional</p>
                            <p>care at your doorstep.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Provide personalised and</p>
                            <p>targeted rehabilitation</p>
                            <p>programs tailored to your</p>
                            <p>unique needs.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Convenience, expertise, and</p>
                            <p>a patient-centered approach</p>
                            <p>to enhance your well-being</p>
                            <p>through effective pain management.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Comprehensive and compassionate</p>
                            <p>physiotherapy services</p>
                            <p>prioritizing your comfort,</p>
                            <p>convenience, and overall health.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Services Provided</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Pain Management /</p>
                            <p>Pain Rehab</p>
                            <p>(UST, IFT)</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Rehab, Stretching</p>
                            <p>Exercises Along</p>                            
                            <p>with Gait Training</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Elbow, Shoulder</p>
                            <p>Extension, Flexion,</p>
                            <p>Arm Motion</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Post Surgery Care</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/video-call.png" alt="" />
                                    <p>Physio Care</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/consulting.png" alt="" />
                                    <p>Walking Practice</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Disease Care (Hemiplegia,</p>
                                    <p>Paraplegia, Quadriplegia,</p>
                                    <p>Parkinson's Disease)</p>
                                    <p>Strengthening.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3" *ngFor="let product of productList">
                        <div class="div-new-item">
                            <img src={{product.image}} />
                            <div class="div-offer">-10%</div>
                            <h3>{{product.name}}</h3>
                            <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                            <div>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <button type="button" class="btn-cart" (click)="viewProduct(product)">VIEW</button>
                            <app-razorpay [productData]="product"></app-razorpay>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
