<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Doctor's Visit</h2>
                    </div>
                    <div class="col-md-9">
                        <p>In today's fast-paced world, it's increasingly crucial to prioritize your health. Regular check-ups are essential for individuals of all ages. Unexpectedly, you may find yourself in need of a doctor's expertise for conditions like fevers, illnesses, or chronic ailments. Delaying a doctor's visit can heighten the risks associated with a health issue and may lead to complications necessitating a hospital stay. The best and easiest way to mitigate this is to act promptly when symptoms arise. If leaving the comfort of your familiar surroundings to visit a clinic or hospital presents challenges, consider Parvathy Home Care Services, where doctors come to you.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Research has demonstrated that patients recover faster in a familiar environment, as opposed to a hospital setting. Parvathy Home Care Services offers physician services for individuals dealing with health issues who struggle to access a doctor's office or are bedridden. This entails the visitation of an experienced doctor to the patient's home, either on a regular basis or in emergencies.</p>
                        <p>During the first visit, the physician assesses the patient's condition, reviews their treatment plan, examines lab reports, medications, past care, and monitors their progress. Subsequently, based on the patient's condition, the doctor provides immediate care, arranges consultations with qualified specialists, or recommends hospitalization if necessary.</p>
                        <p>Parvathy Home Care Services' general physicians are available for emergency visits and consultations around the clock, providing expert guidance that can alleviate patient discomfort and reduce family anxiety. Regular physician visits ensure timely check-ups and comprehensive monitoring, ensuring the patient's condition remains stable or their recovery is on track.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The benefits of Regular Home Visits by a General Physician from Parvathy Home Care Services include</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Saving money,</p>
                            <p>time, and effort</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Avoiding the inconvenience</p>
                            <p>of moving patients to a</p>
                            <p>hospital or clinic</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Enjoying hassle-free checkups,</p>
                            <p>even with limited mobility</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Receiving personalized</p>
                            <p>attention from the doctor for</p>
                            <p>an extended duration</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Scheduling visits at</p>
                            <p>a convenient time</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Engaging with the</p>
                            <p>doctor to discuss</p>
                            <p>the patient's health status</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            To have a General Physician visit your home or your loved one's home, simply call or schedule an appointment for an in-home visit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Additional information about our doctors</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Doctors at Parvathy Home Care</p>
                            <p>Services typically have nearly</p>
                            <p>5 years of clinical experience</p>
                            <p>on average.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Each doctor is closely supervised</p>
                            <p>by an experienced specialist</p>
                            <p>or senior doctor.</p>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Every doctor affiliated</p>
                            <p>with Parvathy Home Care Services is a</p>
                            <p>registered member of a recognized</p>
                            <p>accreditation body,</p>
                            <p>the Indian Medical Association (IMA).</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Services Provided</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Online video</p>
                            <p>consultation with</p>
                            <p>doctors</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Home</p>
                            <p>Consultation</p>                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Diagnosis and</p>
                            <p>Treatment</p>
                            <p>of Illness (es)</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Assessment of</p>
                            <p>Wound/Surgical Site</p>
                            <p>and Dressing</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p>Removal of Sutures,</p>
                                    <p>Stitches and Staples</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p>Periodic</p>
                                    <p>Check-Up</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Postoperative</p>
                                    <p>Check-Up</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Home Physiotherapy & Rehab</h2>            
            <p>As we age, our bodies undergo a natural process of gradual strength and mobility decline, which can lead to various health concerns, depending on our lifestyles. However, with the right expertise and a well-structured physiotherapy plan, you can take proactive steps to ensure that you or your loved ones receive the most tailored and effective care.</p>
            <p>Caring for one's physical well-being involves preventive measures that not only enhance your quality of life but also promote overall well-being. Physiotherapists play a pivotal role in helping individuals who may be experiencing physical challenges due to a range of factors such as age, strokes, accidents, arthritis, or surgery. They are dedicated to restoring, improving, and maintaining optimal physical function. When you partner with Parvathy Home Care Services, our highly trained and experienced physiotherapists conduct a comprehensive initial assessment in the comfort of your own home. Based on this assessment, they provide expert guidance and initiate therapy as per the patient's unique needs.</p>
            <p>Physiotherapy has a proven track record in effectively restoring and enhancing physical strength and mobility. Parvathy Home Care Services makes it convenient for you to receive these essential services within your home environment. Our experienced physiotherapists utilize advanced techniques and portable equipment to offer various forms of therapy, addressing issues such as pain relief, improved strength, posture, motor control, enhanced endurance, gait improvement, and sensory enhancement.</p>
            <p>Our team of practitioners at Parvathy holds specialized degrees in various fields, including Neurological, Cardio-respiratory, and Musculoskeletal issues. Years of clinical experience equip them to competently address a wide range of challenges faced by you or your loved ones. As accredited members, they provide professional and compassionate care to help patients minimize recovery time from injuries and illnesses. Additionally, our physiotherapists offer telephonic advice in case of emergencies outside their regular visits. If the situation requires it, they are ready to make house calls in and around Chennai.</p>            
        </div>
        <div class="col-md-12">
            <h2>Services Provided (in 1 to 7 days schedule)</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pain Management</li>
                <li>
                    <ul>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pain Rehab (UST, IFT)</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Spine Rehab Strengthening, Stretching Exercises Along with Gait Training</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Shoulder Extension, Shoulder Flexion, Arm Motion</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Care</li>
                    </ul>
                </li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Physio Care (Head Injury, Geriatric, Postural Analysis & Gait Training, Strength & Endurance Build)</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Walking Practice</li>
            </ul>
        </div>
        <div class="col-md-12">
            <h2>Services Provided (in 14 days schedule)</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Shoulder Extension, Shoulder Flexion, Arm Motion</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Physio Care (Elbow) Finger, Wrist, Shoulder Strengthening</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Physio Care (Wrist) Finger, Elbow, Shoulder Strengthening & Stretching</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Physio Care (Hip, Knee, Sports Injury, Ankle) Strengthening Exercises of Hip, Thigh, Calf Muscles Followed by Gait Training</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Spine Rehab Strengthening, Stretching Exercises Along with Gait Training</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Physio Care (Head Injury, Geriatric, Postural Analysis & Gait Training, Strength & Endurance Build)</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Strengthening, Stretching Exercises along with Gait & Balance Training</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pain Management</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Walking Practice</li>
            </ul>
            <p>For more details, speak to our support team.</p>
        </div>
        <div class="col-md-12">
            <h2>Services Provided (in 21 days schedule)</h2>
            <p>All services provided in the 14 day schedule. In addition, the following:</p>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Disease Care (Hemiplegia, Paraplegia, Quadriplegia, Parkinson's Disease) Strengthening.</li>
            </ul>
            <p>Our physiotherapists hold specialized degrees in areas like Neurological, Cardio-respiratory, and Musculoskeletal issues, making them well-prepared to address a wide spectrum of challenges faced by patients. As accredited members, they offer professional care to aid in a swift recovery from injuries and illnesses.</p>
            <p>Physiotherapists affiliated with Parvathy Home Care Services provide telephonic guidance, extending their support in emergencies before or after scheduled visits. They are always ready for successive home visits if telephonic counseling falls short of meeting the patient's needs.</p>
        </div>
    </div>
</div>
