<div class="div-home">
    <div class="row">
        <div class="col-md-12">
            <h2>Home Physiotherapy & Rehab</h2>            
            <p>As we age, our bodies undergo a natural process of gradual strength and mobility decline, which can lead to various health concerns, depending on our lifestyles. However, with the right expertise and a well-structured physiotherapy plan, you can take proactive steps to ensure that you or your loved ones receive the most tailored and effective care.</p>
            <p>Caring for one's physical well-being involves preventive measures that not only enhance your quality of life but also promote overall well-being. Physiotherapists play a pivotal role in helping individuals who may be experiencing physical challenges due to a range of factors such as age, strokes, accidents, arthritis, or surgery. They are dedicated to restoring, improving, and maintaining optimal physical function. When you partner with Parvathy Home Care Services, our highly trained and experienced physiotherapists conduct a comprehensive initial assessment in the comfort of your own home. Based on this assessment, they provide expert guidance and initiate therapy as per the patient's unique needs.</p>
            <p>Physiotherapy has a proven track record in effectively restoring and enhancing physical strength and mobility. Parvathy Home Care Services makes it convenient for you to receive these essential services within your home environment. Our experienced physiotherapists utilize advanced techniques and portable equipment to offer various forms of therapy, addressing issues such as pain relief, improved strength, posture, motor control, enhanced endurance, gait improvement, and sensory enhancement.</p>
            <p>Our team of practitioners at Parvathy holds specialized degrees in various fields, including Neurological, Cardio-respiratory, and Musculoskeletal issues. Years of clinical experience equip them to competently address a wide range of challenges faced by you or your loved ones. As accredited members, they provide professional and compassionate care to help patients minimize recovery time from injuries and illnesses. Additionally, our physiotherapists offer telephonic advice in case of emergencies outside their regular visits. If the situation requires it, they are ready to make house calls in and around Chennai.</p>            
        </div>
        <div class="col-md-12">
            <h2>Services Provided (in 1 to 7 days schedule)</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pain Management</li>
                <li>
                    <ul>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pain Rehab (UST, IFT)</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Spine Rehab Strengthening, Stretching Exercises Along with Gait Training</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Shoulder Extension, Shoulder Flexion, Arm Motion</li>
                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Care</li>
                    </ul>
                </li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Physio Care (Head Injury, Geriatric, Postural Analysis & Gait Training, Strength & Endurance Build)</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Walking Practice</li>
            </ul>
        </div>
        <div class="col-md-12">
            <h2>Services Provided (in 14 days schedule)</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Shoulder Extension, Shoulder Flexion, Arm Motion</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Physio Care (Elbow) Finger, Wrist, Shoulder Strengthening</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Physio Care (Wrist) Finger, Elbow, Shoulder Strengthening & Stretching</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Post Surgery Physio Care (Hip, Knee, Sports Injury, Ankle) Strengthening Exercises of Hip, Thigh, Calf Muscles Followed by Gait Training</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Spine Rehab Strengthening, Stretching Exercises Along with Gait Training</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Physio Care (Head Injury, Geriatric, Postural Analysis & Gait Training, Strength & Endurance Build)</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Strengthening, Stretching Exercises along with Gait & Balance Training</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Pain Management</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Walking Practice</li>
            </ul>
            <p>For more details, speak to our support team.</p>
        </div>
        <div class="col-md-12">
            <h2>Services Provided (in 21 days schedule)</h2>
            <p>All services provided in the 14 day schedule. In addition, the following:</p>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Disease Care (Hemiplegia, Paraplegia, Quadriplegia, Parkinson's Disease) Strengthening.</li>
            </ul>
            <p>Our physiotherapists hold specialized degrees in areas like Neurological, Cardio-respiratory, and Musculoskeletal issues, making them well-prepared to address a wide spectrum of challenges faced by patients. As accredited members, they offer professional care to aid in a swift recovery from injuries and illnesses.</p>
            <p>Physiotherapists affiliated with Parvathy Home Care Services provide telephonic guidance, extending their support in emergencies before or after scheduled visits. They are always ready for successive home visits if telephonic counseling falls short of meeting the patient's needs.</p>
        </div>
    </div>
</div>
