/* You can add global styles to this file, and also import other style files */
// .logo {
//     a {
//         img {
//             width:200px;
//         }
//     }
// }
.footer-logo {
    img {
        width:200px;
    }
}
// .header-area {
//     box-shadow: 0 0 10px #1a1a1a26;
// }

// .div-menu-home {
//     padding-left: 0px !important;
// }

#back-top {
    transition: 0.4s;
    &:hover {
        background: #E2225E;
    }
}

.m0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.p0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}
