<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/parvathylogo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="menu-main d-flex align-items-center">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="div-menu-home" href="#">Home</a></li>
                                        <li><a href="#">About Us <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="submenu">
                                                <li><a href="#">Parvathy Homecare Story</a></li>
                                                <li><a href="#">Leadership</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Our Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="submenu">
                                                <li><a href="#">Home Doctor Consultation</a></li>
                                                <li><a href="#">Home Nursing</a></li>
                                                <li><a href="#">Home Physiotherapy & Rehab</a></li>
                                                <li><a href="#">Home Health Checkups</a></li>
                                                <li><a href="#">Lab Tests at Home</a></li>
                                                <li><a href="#">Medical Equipment Rentals</a></li>
                                                <li><a href="#">Caregiver For Elderly</a></li>
                                                <li><a href="#">Home X-Ray/Ultrasound</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>                            
                        </div>
                    </div>
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="#"><img src="assets/img/logo/parvathylogo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                <a href="#" class="btn">Book an Appointment</a>
                            </div>
                            <button type="button" class="btn-icons"><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                            <button type="button" class="btn-icons"><i class="fa fa-power-off" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>    
    <div class="div-slider-banner">
        <div class="div-slider one" *ngIf="divone" [ngClass]="{'slider-active' : divone}">
            <div class="row">
                <div class="col-md-6">
                    <h2>Caring for a better life with medication</h2>
                    <p>Rhoncus mattis rhoncus urna neque viverra. Pharetra diam sit amet nisl suscipit. 
                        Ultrices eros in cursus turpis. In nisl nisi scelerisque eu ultrices vitae. In massa tempor nec feugiat nisl.</p>
                    <button type="button" class="btn-book">Book an Appointment</button>
                </div>
            </div>
        </div>
        <div class="div-slider two" *ngIf="divtwo" [ngClass]="{'slider-active' : divtwo}">
            <div class="row">
                <div class="col-md-6">
                    <h2>Caring for a better life with medication</h2>
                    <p>Rhoncus mattis rhoncus urna neque viverra. Pharetra diam sit amet nisl suscipit. 
                        Ultrices eros in cursus turpis. In nisl nisi scelerisque eu ultrices vitae. In massa tempor nec feugiat nisl.</p>
                    <button type="button" class="btn-book">Book an Appointment</button>
                </div>
            </div>
        </div>
        <div class="div-slider three" *ngIf="divthree" [ngClass]="{'slider-active' : divthree}">
            <div class="row">
                <div class="col-md-6">
                    <h2>Caring for a better life with medication</h2>
                    <p>Rhoncus mattis rhoncus urna neque viverra. Pharetra diam sit amet nisl suscipit. 
                        Ultrices eros in cursus turpis. In nisl nisi scelerisque eu ultrices vitae. In massa tempor nec feugiat nisl.</p>
                    <button type="button" class="btn-book">Book an Appointment</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center div-carosel">
                <button type="button" (click)="showslider('one')" class="btn-carosel" [ngClass]="{'active' : divone}"><i class="fa fa-circle" aria-hidden="true"></i></button>
                <button type="button" (click)="showslider('two')" class="btn-carosel" [ngClass]="{'active' : divtwo}"><i class="fa fa-circle" aria-hidden="true"></i></button>
                <button type="button" (click)="showslider('three')" class="btn-carosel" [ngClass]="{'active' : divthree}"><i class="fa fa-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <!-- Slider Area Custom Ends -->

    <!-- Five box Starts -->

    <ng-container>
        <div class="div-five-boxes">
            <div class="row">
                <div class="col-md-4">
                    <div class="div-product-three">
                        <img src="/assets/img/five/one.png" />
                        <div class="color">
                            <h2>SPECIAL OFFERS ON</h2>
                            <p>Cough Syrup</p>
                            <button type="button" class="one">
                                shop now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-product-three">
                        <img src="/assets/img/five/two.png" />
                        <div>
                            <h2>MULTI VITAMIN TABLETS</h2>
                            <p>Get 20% Offer</p>
                            <button type="button" class="two">
                                shop now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-product-three">
                        <img src="/assets/img/five/three.png" />
                        <div>
                            <h2>30% DISCOUNT ON</h2>
                            <p>Fish Oil Tablets</p>
                            <button type="button" class="three">
                                shop now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-product-two">
                        <img src="/assets/img/five/four.png" />
                        <div class="color">
                            <h2>SAVE UPTO 20% ON</h2>
                            <p>Cardio Prodective Medicines</p>
                            <button type="button" class="three">
                                shop now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-product-two">
                        <img src="/assets/img/five/five.png" />
                        <div class="bottom">
                            <h2>Health Products</h2>
                            <p>Upto <span>10% OFF</span></p>
                            <button type="button" class="three">
                                shop now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Five box Ends -->

    <!-- Type - Starts -->

    <ng-container>
        <div class="div-departments">
            <div class="row">
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/one.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Medicines</h3>
                            <p>Phasellus Lobortis</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/two.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Beauty Care</h3>
                            <p>Beauty Care</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/three.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Health Products</h3>
                            <p>Health Products</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/four.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Cardio Care</h3>
                            <p>Cardio Care</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Type - Ends -->

    <!-- New Arrivals - Starts -->

    <ng-container>
        <div class="div-arrivals">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>New Arrival Medicines</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn-tabs active">Tab 1</button>
                    <button type="button" class="btn-tabs">Tab 2</button>
                    <button type="button" class="btn-tabs">Tab 3</button>
                    <button type="button" class="btn-tabs">Tab 4</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/p1.png" />
                        <div class="div-offer">-10%</div>
                        <h3>Surgical Glove</h3>
                        <p>Rs. 300.00 <span>Rs. 500.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn">ADD TO CART</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/p2.png" />
                        <div class="div-offer">-13%</div>
                        <h3>Microscope </h3>
                        <p>Rs. 2,600.00 <span>Rs. 3,000.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn">ADD TO CART</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/p3.png" />
                        <div class="div-offer">-8%</div>
                        <h3>R.V Stethoscope </h3>
                        <p>Rs. 1,100.00 <span>Rs. 1,200.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn">ADD TO CART</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/p4.png" />
                        <div class="div-offer">-22%</div>
                        <h3>Placebo</h3>
                        <p>Rs. 700.00 <span>Rs. 1,000.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- New Arrivals - Ends -->

    <!-- Weekend Sale - Starts -->

    <ng-container>
        <div class="div-weekend">
            <div class="div-weekend-content">
                <h2>Week End Sale!</h2>
                <h3>Buy Your Best Healthcare Equipment & Medicines</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <button type="button" class="btn">SHOP NOW</button>
            </div>
        </div>
    </ng-container>

    <!-- Weekend Sale - Ends -->

    <!-- Add - Starts -->

    <ng-container>
        <div class="div-add">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-add-content">
                        <h2>Excellent Medical Professionals With Significant Experience</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <button type="button" class="btn">SHOP NOW</button>
                        <div class="row">
                            <div class="col-md-3 div-add-count">
                                <p>200K +</p>
                                <span>Happy Clients</span>
                            </div>
                            <div class="col-md-3 div-add-count">
                                <p>50K +</p>
                                <span>Orders Delivered</span>
                            </div>
                            <div class="col-md-3 div-add-count">
                                <p>80K +</p>
                                <span>Area Served</span>
                            </div>
                            <div class="col-md-3 div-add-count">
                                <p>5 L</p>
                                <span>Medicines</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-add-banner">

                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Add - Ends -->

    <!-- Limited time - Starts -->

    <ng-container>
        <div class="div-limited">
            <div class="row">
                <div class="col-md-4">
                    <div class="div-time">
                        <h2>Limited Offer Hurry Up!</h2>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{days}}</p>
                                    <span>Days</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{hours}}</p>
                                    <span>Hrs</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{minutes}}</p>
                                    <span>Mins</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{seconds}}</p>
                                    <span>Sec</span>
                                </div>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <button type="button" class="three">
                            shop now
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="div-new-item">
                                <img src="/assets/img/newarrivals/p1.png" />
                                <div class="div-offer">-10%</div>
                                <h3>Surgical Glove</h3>
                                <p>Rs. 300.00 <span>Rs. 500.00</span></p>                                
                                <button type="button" class="btn">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="div-new-item">
                                <img src="/assets/img/newarrivals/p2.png" />
                                <div class="div-offer">-13%</div>
                                <h3>Microscope </h3>
                                <p>Rs. 2,600.00 <span>Rs. 3,000.00</span></p>                                
                                <button type="button" class="btn">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="div-new-item">
                                <img src="/assets/img/newarrivals/p3.png" />
                                <div class="div-offer">-8%</div>
                                <h3>R.V Stethoscope </h3>
                                <p>Rs. 1,100.00 <span>Rs. 1,200.00</span></p>                                
                                <button type="button" class="btn">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Limited time - Ends -->

    <!-- Support - Starts -->

    <ng-container>
        <div class="div-support">
            <div class="row">
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Free Shipping</h3>
                            <p>Free Shipping World wide</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Easy to Track Orders</h3>
                            <p>Easy to Track Orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>24hrs Customer Support</h3>
                            <p>Free Shipping World wide</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>On Time Delivery</h3>
                            <p>Free Shipping World wide</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Support - Ends -->

    <!-- FAQ - Starts -->

    <ng-container>
        <div class="div-faq">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-faq-left"></div>
                </div>
                <div class="col-md-6">
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('one')" [ngClass]="{'active': faqone}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>What kind of services do you offer?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqone">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('two')" [ngClass]="{'active': faqtwo}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Is your clinic open 24 hours?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqtwo">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('three')" [ngClass]="{'active': faqthree}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Do you provide an ambulance service?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqthree">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('four')" [ngClass]="{'active': faqfour}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Do you provide emergency care?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqfour">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- FAQ - Ends -->

    <!-- Recent updations - Starts -->

    <ng-container>
        <div class="div-recent-up">
            <div class="row">
                <div class="col-md-12">
                    <h2>Recent Updation</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/one.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            Enhancing Emergency Preparedness
                        </div>
                        <div class="div-actions">
                            <button type="button" class="btn">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/two.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            The Importance Of Patient Advocacy
                        </div>
                        <div class="div-actions">
                            <button type="button" class="btn">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/three.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            Standing With Patients Beyond The Clinic
                        </div>
                        <div class="div-actions">
                            <button type="button" class="btn">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/four.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            Doctors Driving Multidisciplinary Research
                        </div>
                        <div class="div-actions">
                            <button type="button" class="btn">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Recent updations - Ends -->

    
</main>
<footer>
    <div class="div-footer">
        <div class="row">
            <div class="col-md-4">
                <div class="div-logo">
                    <div><img src="assets/img/logo/parvathylogo.png" alt=""></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="div-contact">
                    <p><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i> 000 - 000 - 00000</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@parvathy.com</p>
                    <p><i class="fa fa-crosshairs" aria-hidden="true"></i> www.parvathy.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>