<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/parvathylogo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<main>    
    <div class="div-slider-banner">
        <div class="div-slider one" *ngIf="divone" [ngClass]="{'slider-active' : divone}">
            <div class="row">
                <div class="col-md-6">
                    <h2>Your Trusted Partner in Caring for Loved Ones</h2>
                    <p>We Offer Comprehensive home care services catering to elderly individuals, those dealing with illness, and post-hospitalization patients who may be too weak to manage their daily tasks.</p>
                    <button type="button" class="btn-book">Book an Appointment</button>
                </div>
            </div>
        </div>
        <div class="div-slider two" *ngIf="divtwo" [ngClass]="{'slider-active' : divtwo}">
            <div class="row">
                <div class="col-md-7">
                    <h2>Your Trusted Partner for Home Health Checkups</h2>
                    <p>Tailored for all ages, our convenient and comprehensive services bring expert care to your doorstep at affordable cost</p>
                    <button type="button" class="btn-book">Book an Appointment</button>
                </div>
            </div>
        </div>
        <div class="div-slider three" *ngIf="divthree" [ngClass]="{'slider-active' : divthree}">
            <div class="row">
                <div class="col-md-6">
                    <h2>Bringing Comfort to Your Doorstep</h2>
                    <p>Our rental equipment service is more than convenience; it's a heartfelt commitment to making your home a place of ease and solace.</p>
                    <button type="button" class="btn-book">Book an Appointment</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center div-carosel">
                <button type="button" (click)="showslider('one')" class="btn-carosel" [ngClass]="{'active' : divone}"><i class="fa fa-circle" aria-hidden="true"></i></button>
                <button type="button" (click)="showslider('two')" class="btn-carosel" [ngClass]="{'active' : divtwo}"><i class="fa fa-circle" aria-hidden="true"></i></button>
                <button type="button" (click)="showslider('three')" class="btn-carosel" [ngClass]="{'active' : divthree}"><i class="fa fa-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <!-- Slider Area Custom Ends -->

    <!-- Five box Starts -->

    <ng-container>
        <div class="div-five-boxes">
            <div class="row">
                <div class="col-md-4">
                    <div class="div-product-three">
                        <img src="/assets/img/five/checkup1.png" />
                        <div>
                            <h2>Doctor @ Doorstep</h2>
                            <p>Starts at ₹999</p>
                            <button type="button" class="one">
                                book now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-product-three">
                        <img src="/assets/img/five/checkup2.png" />
                        <div class="color">
                            <h2>Nursing Care @ Doorstep</h2>
                            <p>Starts at ₹999</p>
                            <button type="button" class="two">
                                book now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-product-three">
                        <img src="/assets/img/five/checkup3.png" />
                        <div>
                            <h2>Personalised Home Physiotherapy</h2>
                            <p>Starts at ₹699</p>
                            <button type="button" class="three">
                                book now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-product-two">
                        <img src="/assets/img/five/checkup4.png" />
                        <div class="color">
                            <h2>Comprehensive Diabetic Screening @ Home</h2>
                            <p>Starts at ₹555</p>
                            <button type="button" class="two" routerLink="/servicedetails">
                                book now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-product-two">
                        <img src="/assets/img/five/checkup5.png" />
                        <div class="">
                            <h2>Personalised Health Checkups</h2>
                            <p>Full Body Check up Starts at ₹1380</p>                            
                            <button type="button" class="three">
                                book now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Five box Ends -->

    <!-- Type - Starts -->

    <ng-container>
        <div class="div-departments">
            <div class="row">
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/one.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Home Nursing Care</h3>
                            <p>24/7</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/two.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Rental Medical Equipments</h3>
                            <p>At affordable cost</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/three.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Home Lab Collection</h3>
                            <p>With Same Day Report*</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/four.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Home Elderly Care</h3>
                            <p>24/7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Type - Ends -->

    <!-- New Arrivals - Starts -->

    <ng-container>
        <div class="div-arrivals">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Complete Homecare under one roof</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn-tabs">Medicines</button>
                    <button type="button" class="btn-tabs active">Health Check-ups</button>
                    <button type="button" class="btn-tabs">Equipment Rentals</button>
                    <button type="button" class="btn-tabs">Care at Home</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" *ngFor="let product of productList">
                    <div class="div-new-item">
                        <img src={{product.image}} />
                        <div class="div-offer">-10%</div>
                        <h3>{{product.name}}</h3>
                        <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn-cart">ADD TO CART</button>
                        <app-razorpay></app-razorpay>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/hcr.svg" />
                        <div class="div-offer">-13%</div>
                        <h3>Homecare Advanced Kit( On Rental) </h3>
                        <p>Rs. 2,600.00 <span>Rs. 3,000.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn-cart">ADD TO CART</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/hch.svg" />
                        <div class="div-offer">-8%</div>
                        <h3>Elderly Care </h3>
                        <p>Rs. 1,100.00 <span>Rs. 1,200.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn-cart">ADD TO CART</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-new-item">
                        <img src="/assets/img/newarrivals/hcc.svg" />
                        <div class="div-offer">-22%</div>
                        <h3>Vitals Monitor( Rent)</h3>
                        <p>Rs. 700.00 <span>Rs. 1,000.00</span></p>
                        <div>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star active" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <button type="button" class="btn-cart">ADD TO CART</button>
                    </div>
                </div> -->
            </div>
        </div>
    </ng-container>

    <!-- New Arrivals - Ends -->

    <!-- Weekend Sale - Starts -->

    <ng-container>
        <div class="div-weekend">
            <div class="div-weekend-content">
                <h2>Medical Equipment Rentals</h2>
                <h3>At Afforadable Cost</h3>
                <p>From Wheelchairs to Electric Hospital Beds, 
                    You’ll get everything at your doorstep.</p>
                <button type="button" class="btn-week-book">BOOK NOW</button>
            </div>
        </div>
    </ng-container>

    <!-- Weekend Sale - Ends -->

    <!-- Add - Starts -->

    <ng-container>
        <div class="div-add">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-add-content">
                        <h2>Our Dedication to Your Well-being Knows No Bounds</h2>
                        <p>Our journey began with a single home care client, and through unwavering dedication, we've earned the trust and admiration of thousands of senior citizens across India. Over the last 5 years, we have transformed the lives of over 10,000+ patients, resolving medical complications regardless of their severity, and granting them dignified and independent lives.</p>
                        <button type="button" class="btn-learn-more">LEARN MORE</button>
                        <div class="row">
                            <div class="col-md-3 div-add-count">
                                <p>10,000 +</p>
                                <span>Happy Patients</span>
                            </div>
                            <div class="col-md-3 div-add-count">
                                <p>24x7</p>
                                <span>Availability</span>
                            </div>
                            <div class="col-md-3 div-add-count">
                                <p>5 +</p>
                                <span>Years of Excellence</span>
                            </div>
                            <div class="col-md-3 div-add-count">
                                <p>30 +</p>
                                <span>Operational Areas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div-add-banner">

                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Add - Ends -->

    <!-- Limited time - Starts -->

    <ng-container>
        <div class="div-limited">
            <div class="row">
                <div class="col-md-4">
                    <div class="div-time">
                        <h2>Happy Heal is on, Hurry up !</h2>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{days}}</p>
                                    <span>Days</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{hours}}</p>
                                    <span>Hrs</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{minutes}}</p>
                                    <span>Mins</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="div-time-count">
                                    <p>{{seconds}}</p>
                                    <span>Sec</span>
                                </div>
                            </div>
                        </div>
                        <p>At Parvathy Pharmacy, we understand the essential role that medicines plays in ensuring your health and well-being. We offer medicines and medical equipment rental service at 5% OFF to meet your specific healthcare needs</p>
                        <button type="button" class="three">
                            shop now
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="div-new-item">
                                <img src="/assets/img/newarrivals/p1.png" />
                                <div class="div-offer">-10%</div>
                                <h3>Wheel Chair (Rental)</h3>
                                <p>Rs. 300.00 <span>Rs. 500.00</span></p>                                
                                <button type="button" class="btn-add">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="div-new-item">
                                <img src="/assets/img/newarrivals/p2.png" />
                                <div class="div-offer">-13%</div>
                                <h3>Oxygen Concentrator(Rental) </h3>
                                <p>Rs. 2,600.00 <span>Rs. 3,000.00</span></p>                                
                                <button type="button" class="btn-add">ADD TO CART</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="div-new-item">
                                <img src="/assets/img/newarrivals/p3.png" />
                                <div class="div-offer">-8%</div>
                                <h3>Nebulizer </h3>
                                <p>Rs. 1,100.00 <span>Rs. 1,200.00</span></p>                                
                                <button type="button" class="btn-add">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Limited time - Ends -->

    <!-- Support - Starts -->

    <ng-container>
        <div class="div-support">
            <div class="row">
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Free Shipping</h3>
                            <p>Free Shipping World wide</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>Easy to Track Orders</h3>
                            <p>Easy to Track Orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>24hrs Customer Support</h3>
                            <p>Free Shipping World wide</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="div-img">
                        <img src="/assets/img/type/mail.png" />
                    </div>
                    <div class="div-content">
                        <div>
                            <h3>On Time Delivery</h3>
                            <p>Free Shipping World wide</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Support - Ends -->

    <!-- FAQ - Starts -->

    <ng-container>
        <div class="div-faq">
            <div class="row">
                <div class="col-md-6">
                    <div class="div-faq-left"></div>
                </div>
                <div class="col-md-6">
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('one')" [ngClass]="{'active': faqone}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>What services does Parvathy Homecare provide?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqone">
                            Parvathy Homecare offers a range of services, including nursing care, medical assistance, rehabilitation support, and personalized health monitoring within the comfort of your home. Our goal is to enhance the well-being of individuals by providing comprehensive and compassionate home-based healthcare.
                        </div>
                    </div>
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('two')" [ngClass]="{'active': faqtwo}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>How can I arrange for homecare services for myself or a family member?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqtwo">
                            It is simple. You can contact our customer service, and our dedicated team will guide you through the process, including assessing your needs, developing a customized care plan, and scheduling qualified healthcare professionals to provide the necessary support at your home.
                        </div>
                    </div>
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('three')" [ngClass]="{'active': faqthree}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>Does Parvathy Homecare offer equipment rentals for home use?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqthree">
                            Yes, Parvathy Homecare provides equipment rentals to support home-based care. Whether you need medical devices, mobility aids, or other healthcare equipment, we offer a range of rental options. Contact our team to discuss your specific requirements, and we'll assist you in selecting the appropriate equipment for your needs.
                        </div>
                    </div>
                    <div class="div-faq-content">
                        <div class="div-faq-ques" (click)="faqclicked('four')" [ngClass]="{'active': faqfour}">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>What types of personalized care plans for elderly care?</p>
                                </div>
                                <div class="col-md-2 text-right">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="div-faq-ans" *ngIf="faqfour">
                            There are two plans available right now. One is basic and advanced with medical support.These plans encompass activities of daily living, medication management, companionship, and any specific health requirements. The goal is to enhance the quality of life and promote independence for elderly individuals
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- FAQ - Ends -->

    <!-- Recent updations - Starts -->

    <ng-container>
        <div class="div-recent-up">
            <div class="row">
                <div class="col-md-12">
                    <h2>Recent Updation</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/one.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            Enhancing Emergency Preparedness
                        </div>
                        <div class="div-actions">
                            <button type="button" class="">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/two.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            The Importance Of Patient Advocacy
                        </div>
                        <div class="div-actions">
                            <button type="button" class="">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/three.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            Standing With Patients Beyond The Clinic
                        </div>
                        <div class="div-actions">
                            <button type="button" class="">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-items">
                        <div class="div-item-img">
                            <img src="assets/img/recent/four.png" alt="">
                        </div>
                        <div class="div-item-date">
                            <span class="span-date">June 23, 2023</span><span>1 Comment</span>
                        </div>
                        <div class="div-item-head">
                            Doctors Driving Multidisciplinary Research
                        </div>
                        <div class="div-actions">
                            <button type="button" class="">Read More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Recent updations - Ends -->

    
</main>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>