<!-- New Arrivals - Starts -->

<ng-container>
    <div class="div-arrivals">
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn-tabs active">Health Check-ups</button>
                <button type="button" class="btn-tabs">Equipment Rentals</button>
                <button type="button" class="btn-tabs">Care at Home</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" *ngFor="let product of productList">
                <div class="div-new-item">
                    <img src={{product.image}} />
                    <div class="div-offer">-10%</div>
                    <h3>{{product.name}}</h3>
                    <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                    <div>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button type="button" class="btn-cart">ADD TO CART</button>
                    <app-razorpay [productData]="product"></app-razorpay>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-3">
                <div class="div-new-item">
                    <img src="/assets/img/newarrivals/hcm.svg" />
                    <div class="div-offer">-10%</div>
                    <h3>Basic Medicine Kit</h3>
                    <p>Rs. 300.00 <span>Rs. 500.00</span></p>
                    <div>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button type="button" class="btn-cart">ADD TO CART</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="div-new-item">
                    <img src="/assets/img/newarrivals/hcr.svg" />
                    <div class="div-offer">-13%</div>
                    <h3>Homecare Advanced Kit( On Rental) </h3>
                    <p>Rs. 2,600.00 <span>Rs. 3,000.00</span></p>
                    <div>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button type="button" class="btn-cart">ADD TO CART</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="div-new-item">
                    <img src="/assets/img/newarrivals/hch.svg" />
                    <div class="div-offer">-8%</div>
                    <h3>Elderly Care </h3>
                    <p>Rs. 1,100.00 <span>Rs. 1,200.00</span></p>
                    <div>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button type="button" class="btn-cart">ADD TO CART</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="div-new-item">
                    <img src="/assets/img/newarrivals/hcc.svg" />
                    <div class="div-offer">-22%</div>
                    <h3>Vitals Monitor( Rent)</h3>
                    <p>Rs. 700.00 <span>Rs. 1,000.00</span></p>
                    <div>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <button type="button" class="btn-cart">ADD TO CART</button>
                </div>
            </div>
        </div> -->
    </div>
</ng-container>

<!-- New Arrivals - Ends -->