<div class="div-home">
    <div class="row">
        <div class="col-md-4">
            <div class="div-service">
                <div class="div-service-sub">
                    <h2>Service 1</h2>
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                    <div class="div-timer">
                        <p>Get reports</p>
                        <span>Within 8 Hours</span>
                    </div>
                    <div class="div-pre">
                        <p><i class="fa fa-info-circle" aria-hidden="true"></i> 10 - 12 Hr fasting is required</p>
                    </div>
                    <div class="div-offer">
                        <span>BEST VALUE</span>
                    </div>
                    <div class="div-offer-amt">
                        <p>MRP <span class="span-strike">₹527</span> <span class="span-offer">25% off</span></p>
                    </div>
                    <div class="div-amt">
                        <span>₹375</span>
                    </div>
                </div>
                <button class="btn btn-add-to-cart">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>
