<div class="div-home">
    <div class="row m0">
        <div class="col-md-12 p0">
            <div class="div-banner"></div>
            <div class="div-doc-visit">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Caregiver for Elderly</h2>
                    </div>
                    <div class="col-md-9">
                        <p>Parvathy Home Care understands the unique needs of elderly clients. Our Caregivers & Attenders service provides compassionate individuals to assist elderly patients with daily tasks and activities, ensuring they receive the care and support they deserve.</p>
                    </div>
                </div>
            </div>
            <div class="div-research">
                <div class="row">
                    <div class="col-md-9">
                        <p>Our caregivers are dedicated to providing personalized care tailored to each patient's specific needs. From transportation to companionship, our team ensures the well-being and comfort of our elderly clients.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/img/doctorvisit/doctor_patient_relation.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="div-benefits">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-head">The Benefits of Parvathy Homecare’s Caregivers for Elderly</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/savemoney.png" alt="" />
                            <p>Trusted registered</p>
                            <p>professionals</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/patient.png" alt="" />
                            <p>Complete</p>
                            <p>background checks</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/hassle_free.png" alt="" />
                            <p>Tailored services meet</p>
                            <p>individual needs</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/personalization.png" alt="" />
                            <p>Flexible scheduling</p>
                            <p>options</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box">
                            <img src="assets/img/doctorvisit/doctors_visit_day.png" alt="" />
                            <p>Compassionate</p>
                            <p>caregivers</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-benefits-box color">
                            <img src="assets/img/doctorvisit/discussion.png" alt="" />
                            <p>Cost-effective</p>
                            <p>and affordable</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-benefit-footer">
                            Contact Parvathy Home Care today to hire our trusted caregivers and attenders, or to learn more about our comprehensive services.
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-add-info">
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Why Parvathy Homecare ?</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/savemoney_p.png" alt="" />
                            <p>Our caregivers are</p>
                            <p>vetted professionals associated</p>
                            <p>with Parvathy Hospital.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box color">
                            <img src="assets/img/doctorvisit/patient_b.png" alt="" />
                            <p>Rigorous background checks</p>
                            <p>ensure the security</p>
                            <p>of our clients.</p>                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-add-info-box">
                            <img src="assets/img/doctorvisit/hassle_free_p.png" alt="" />
                            <p>Customized care plans</p>
                            <p>cater to individual</p>
                            <p>needs with compassion.</p>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-add-info-head">Tasks Our Caregivers & Attenders Can Assist With</div>
                    </div>
                </div>
                <div class="row div-ser-top">
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/video-call.png" alt="" />
                            <p>Transportation</p>
                            <p>(Outside Home)</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/consulting.png" alt="" />
                            <p>Mobility Assistance</p>
                            <p>(Inside Home)</p>                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/diagnosis.png" alt="" />
                            <p>Errands and</p>
                            <p>Bill Payments</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div-ser-box">
                            <img src="assets/img/doctorvisit/surgery-room.png" alt="" />
                            <p>Companionship</p>
                        </div>
                    </div>
                </div>
                <div class="row div-ser-bot">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/scar.png" alt="" />
                                    <p>Medication Reminders</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/menstrual-cycle.png" alt="" />
                                    <p>Meal Preparation</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="div-ser-box">
                                    <img src="assets/img/doctorvisit/check-up.png" alt="" />
                                    <p>Hygiene Assistance</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-line"></div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3" *ngFor="let product of productList">
                        <div class="div-new-item">
                            <img src={{product.image}} />
                            <div class="div-offer">-10%</div>
                            <h3>{{product.name}}</h3>
                            <p>Rs.{{product.price}}<span>Rs. 500.00</span></p>
                            <div>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star active" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <button type="button" class="btn-cart" (click)="viewProduct(product)">VIEW</button>
                            <app-razorpay [productData]="product"></app-razorpay>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <h2>Caregiver for Elderly</h2>
            <p>At Parvathy Home Care, we understand the unique needs of our elderly clients. Our Caregivers & Attenders service is dedicated to providing compassionate and trusted individuals to assist elderly patients with their daily tasks and activities. Whether it's accompanying them to medical appointments, offering companionship, or helping with essential errands, our caregivers are here to provide the support and care your loved ones deserve.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Why Choose Parvathy Home Care for Caregivers & Attenders?</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Trusted Professionals:</span> Our caregivers and attenders are associated with Parvathy Hospital, ensuring their trustworthiness and reliability.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Background Checks:</span> We conduct thorough background checks to ensure the safety and well-being of our clients.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Customized Care:</span> We tailor our caregiver services to meet the specific needs of each patient, providing personalized and compassionate care.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Hourly Basis:</span> You can hire our caregivers on an hourly basis, allowing for flexibility in scheduling and costs.</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Tasks Our Caregivers & Attenders Can Assist With:</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Transportation:</span> Accompanying patients to medical appointments, therapy sessions, or other outings.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Mobility Assistance:</span> Assisting with walking, moving, and ensuring patient safety.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Errands and Bill Payments:</span> Handling common tasks like paying bills, collecting medical reports, and booking transportation.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Companionship:</span> Providing companionship, emotional support, and conversation.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Grocery Shopping:</span> Helping with grocery shopping and carrying items.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Medication Reminders:</span> Ensuring that patients take their medications as prescribed.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Meal Preparation:</span> Preparing and serving meals in accordance with dietary restrictions.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Hygiene Assistance:</span> Assisting with bathing, grooming, and other personal care tasks.</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <h2>Benefits of Caregivers & Attenders with Parvathy Home Care</h2>
            <ul>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Compassionate Care:</span> Our caregivers are dedicated to providing emotional support and companionship.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Enhanced Safety:</span> Professional assistance ensures that patients are safe and well-cared for.</li>
                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> <span>Convenience:</span> Hiring caregivers on an hourly basis provides flexibility and cost-effectiveness.</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <p>Contact Parvathy Home Care today to hire our trusted caregivers and attenders, or to learn more about our comprehensive services.</p>
        </div>
    </div> -->
</div>
